@media only screen and (min-width: 40em) {
    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 16px;
    }
    nav ul {
        flex-flow: row wrap;
    }
    nav ul li a {
        font-size: 16px;
    }
    #typographyTable {
        font-size: 16px;
    }
    #typographyTable tr td, #typographyTable tr th {
        padding: 12px;
    }
    #typographyTable tr td:nth-child(2), 
    #typographyTable tr th:nth-child(2),
    #typographyTable tr td:nth-child(4), 
    #typographyTable tr th:nth-child(4),
    #typographyTable tr td:nth-child(5), 
    #typographyTable tr th:nth-child(5) {
	    display: revert;
    }
    #colorTable tr td:nth-child(1), 
    #colorTable tr td:nth-child(5) {
        display: revert;
    }

}