@media only screen and (min-width: 60em) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 25px;
    }
    h4 {
        font-size: 20px;
    }
    .navigation a {
        font-size: 20px;
    }
    /* Weather gallery page*/
    #weatherGallery {
        grid-template-columns: 1fr 1fr 1fr;	
    }
    .galleryBlock:hover {
        box-shadow: 0px 0px 10px 5px #888888;
    }
}