@media only screen and (min-width: 40em) {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 20px;
    }
    p, label {
        font-size: 16px;
    }
    header img {
        width: 128px;
    }
    .headings h1 {
        font-size: 40px;
    }
    .moto {
        font-size: 22px;
    }
	.navigation {
		display: flex;
	}
	.navigation li {
        flex: 1 1 auto;
		display: block;
	}
	.navigation li:first-child {
		display: none;
    }
    .navigation a {
        font-size: 18px;
    }
    nav ul {
        flex-flow: row wrap;
    }
    footer p {
        font-size: 20px;
    }
    #weatherSummary {
        display: grid;
    }
    #forcastArea {
        display: block;
    }
    .articleImg {
        margin: 0 0 15px 15px;
        width: 50%;
        float: right;
    }    
    #mapImg {
        display: block;
    }
    #contactTextArea {
        grid-column: 2 / 3;	
    }
    #weatherGallery {
        grid-template-columns: 1fr 1fr;	
    }
    

}