@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
	font-family: 'Roboto', Arial, sans-serif;
}
footer, main {
	max-width: 80em;
	margin: 0 auto;
}
header, nav {
	margin: 0 auto;
}
/* heading */
header {
	background-color: #bec6c9;
	display: flex;
	align-items: center;
	justify-content: center;
}
header img {
	width: 120px;
	height:	auto;
}
.headings {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}
.headings h1 {
	font-size: 20px;
	color: #011836;
	margin: 0;
}
.moto {
	color: #3096bb;
	font-style: italic;
	font-size: 12px;
}
/*header navigation */
nav {
	background-color: #fdd226;
}
.navigation {
	max-width: 80em;
	list-style: none;
	background-color: #f2be54;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	font-size: 16px;	
	color: #000000;
	text-decoration: none;
	padding-top: 15px;
	padding-bottom: 15px;
}
.responsive li {
	display: block;
}
nav a:hover {
	background-color: #3096bb;
	color: #1d1d1b;
}
.active {
	background-color: #cacfd4;
	border-left: 4px solid #011836;
	border-right: 4px solid #011836;
}
/* temp main divs */
main {
	display: flex;
	flex-direction: column;
	padding: 15px;
}
main div {
	border: dotted 1px #011836;
	background-color: #bec6c9;
	margin: 15px;
	padding: 15px;
}
/* footer */
footer {
	background-color: #fdd226;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
footer p {
	font-size: 14px;
}
/* typography */
h1 {
	font-size: 20px;
	color: #3096bb;
}
h2 {
	font-size: 16px;
	color: #011836;
}
h3 {
	font-size: 14px;
	color: #011836;
}
p {
	font-size: 12px;
}