body {
	font-family: 'Ubuntu', sans-serif;
}
main {
	max-width: 80em;
	margin: 0 auto;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

/* table */
table, th, td {
	border: 1px solid #c0c0c0;
	border-collapse: collapse;
}
table {
	text-align: center;
	box-shadow: 5px 10px 8px #628ca6;
	margin-bottom: 15px;
}
th, td {
	padding: 7px;
}
tr {
	background-color: #e7ffed;
}
tr:nth-child(odd) {
	background-color: #e7f0ed;
}
th {
	background-color: #628ca6;
	color: #ffffff;
}
thead tr td {
	background-color: #7fb9c2 ;
	font-size: 26px;
	font-weight: bold;
}
tfoot tr td {
	background-color: #7fb9c2 ;
	font-size: 12px;
}
.special {
	background-color: #628ca6;
	color: #ffffff;
}
/* typography */
h1 {
	font-size: 40px;
}
p {
	font-size: 16px;
}
a {
	text-decoration: none;
	color:#ffffff;
}
a:hover {
	color:#000000;
}